<!-- base.html -->
{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        {% block css %} {% endblock css %}
        <link rel="stylesheet" href="{% static 'css/estilos2.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    </head>
    <body>
    <!-- Cabecera -->
    <div class="header">
        <div class="titular">
          <h1>Tienda para mascotas</h1>
          <h2>a luka y a mil</h2>
        </div>
        <div class="portada">
          <img src="{% static 'images/perros.jpg' %}" alt="perros">
        </div>
        <div class="navegacion">
          <ul>
            <li class="nav-item">
              <a href="{% url 'index' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'quienes_somos' %}">Quiénes Somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'donde_encontrarnos' %}">Dónde encontrarnos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'nuestros_clientes' %}">Nuestros clientes</a>
            </li>
            <li class="nav-item">
              <div class="btn-group">
                <a href="http://localhost:8000/add_mensaje" class="btn btn-primary">Contactanos</a>
                <a href="http://localhost:8000/list_mensajes/" class="btn btn-primary">Tus mensajes</a>
              </div>
              {% comment %} <a class="nav-link" href="{% url 'add_mensaje' %}">Contactanos</a> {% endcomment %}
            </li>
            {% if not user.is_authenticated %}        
              <li class="nav-item"><a href="{% url 'registrar' %}">Registrarse</a></li>
              <li class="nav-item"><a href="{% url 'login' %}">Iniciar sesión</a></li>
            {% endif %}
            {% if user.is_authenticated %}
              <li class="nav-item"><a href="{% url 'logout' %}">Cerrar sesión</a></li>
              <span class="ml-md-5" style="color: blue;"><strong>Usuario: {{ user.get_username }}</strong></span>
            {% endif %}   
          </ul>
        </div>
      </div>
      
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
    <div>
        {% block footer %} {% endblock %}
    </div>
    {% block javascript %} {% endblock javascript %}
    </body>
</html>
